# Node modules
node_modules/

# Build output
dist/

# TypeScript
*.tsbuildinfo

defaultEnv.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor files
.vscode/
.DS_Store

# Optional npm cache directory
.npm/

# OS files
Thumbs.db
